# kind: PersistentVolume
# apiVersion: v1
# metadata:
#   name: wsl-{{ .Values.targetEnv }}-pv
#   labels:
#     app: wsl-{{ .Values.targetEnv }}
# spec:
#   storageClassName: {{ .Values.storageSettings.storageClassName }}
#   capacity:
#     storage: {{ .Values.storageSettings.diskSize }}
#   accessModes:
#     - {{ .Values.storageSettings.accessModes }}
#   # hostPath:
#   #   path: "/wsl/data/{{ .Values.targetEnv }}"
#   # persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: wsl-{{ .Values.targetEnv }}
  name: wsl-{{ .Values.targetEnv }}-pvc
spec:
  storageClassName: {{ .Values.storageSettings.storageClassName }}
  accessModes:
  - {{ .Values.storageSettings.accessModes }}
  resources:
    requests:
      storage: {{ .Values.storageSettings.diskSize }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wsl-{{ .Values.targetEnv }}
  # namespace: {{ .Values.targetNS }}
spec:
  replicas: {{ .Values.autoscaling.minReplicas }}
  strategy:
    rollingUpdate:
      maxSurge: 1         # <2>
      maxUnavailable: 0   # <3>
    type: RollingUpdate   # <1>
  selector:
    matchLabels:
      app: wsl-{{ .Values.targetEnv }}
  template:
    metadata:
      labels:
        app: wsl-{{ .Values.targetEnv }}
    spec:
      volumes:
        - name: {{ .Values.service_name }}-bootstrap-cm-{{ .Values.architecture.http_server_type }}-vol
          # Populate the volume with config map data
          configMap:
            # `name` here must match the name 
            # specified in the ConfigMap's YAML 
            name: {{ .Values.service_name }}-bootstrap-cm-{{ .Values.architecture.http_server_type }}-{{ .Values.targetEnv }}
        - name: wslenv-vol-{{ .Values.targetEnv }}
          secret:
            secretName: wsl-secret-{{ .Values.targetEnv }}
            items:
            - key: env_file
              path: .env
        - name: wsl-{{ .Values.targetEnv }}-pvc
          persistentVolumeClaim:
            claimName: wsl-{{ .Values.targetEnv }}-pvc
      containers:
        - name: wsl-{{ .Values.targetEnv }}
          image: {{ .Values.targetImage }}:{{ .Values.targetImageTag }}
          ports:
            - containerPort: 80
          env:
            - name: DYNAMIC_SCRIPTS_PATH
              value: "/tmp"
            # - name: DYNAMIC_SCRIPTS_PATH
            #   value: "/var/www/html/writable"
{{- if eq .Values.architecture.http_server_type "apache2" }}
            - name: "APACHE_CONFDIR"
              value: "/etc/apache2"
            - name: "APACHE_DOCUMENT_ROOT"
              value: "/var/www/html/public"
            - name: "APACHE_ENVVARS"
              value: "/etc/apache2/envvars"
            - name: APACHE_RUN_USER
              value: "www-data"
            - name: APACHE_RUN_GROUP
              value: "www-data"
            - name: APACHE_PID_FILE
              value: "/var/run/apache2$SUFFIX.pid"
            - name: APACHE_RUN_DIR
              value: "/var/run/apache2$SUFFIX"
            - name: APACHE_LOG_DIR
              value: "/var/log/apache2$SUFFIX"
{{ else }}
{{ end }}
          imagePullPolicy: Always
          lifecycle:
            postStart:
              exec:
                command: ["/bin/sh", "-c", "stat -c %a /tmp && ls -la /tmp && cp /tmp/configmap/bootstrap-{{ .Values.architecture.http_server_type }}.sh /usr/local/bin/bootstrap-{{ .Values.architecture.http_server_type }}.sh && chmod +x /usr/local/bin/bootstrap-{{ .Values.architecture.http_server_type }}.sh && bash /usr/local/bin/bootstrap-{{ .Values.architecture.http_server_type }}.sh"]
          volumeMounts:
            - name: wsl-{{ .Values.targetEnv }}-pvc
              mountPath: /var/www/html  
            - name: wslenv-vol-{{ .Values.targetEnv }}
              mountPath: /tmp/secrets
              # `bootstrap` mount bash script from configmap {{ .Values.service_name }}-bootstrap-cm-{{ .Values.architecture.http_server_type }}-{{ .Values.targetEnv }}
              # execute in the poststrat lifecycle hook
            - name: {{ .Values.service_name }}-bootstrap-cm-{{ .Values.architecture.http_server_type }}-vol
              mountPath: /tmp/configmap
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      
      
              # kubernetes.io/hostname: {{ .Values.node_name }}
      # nodeSelector:
      #   apptype: datadriven
      #   appcode: wslcrm

#if kubernetes 1.24+ use the following
#    updateStrategy:
#    rollingUpdate:
#      maxUnavailable: 1 # this is the new alpha field, whose default value is 1
#      partition: 0
#    type: RollingUpdate



  